.explore {
  display: flex;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.sidebar {
  background-color: #252529;
  height: 100vh;
  width: 13rem;
}

.main {
  height: 100%;
}

.top {
  padding: 0 1rem;
  height: 4rem;
  width: calc(100vw - 13rem);
  border-bottom: 1px solid rgb(207, 207, 207);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.list {
  background-color: green;
}

.map {
  background-color: purple;
}